
<div class="modal fade" id="inputModal" tabindex="-1" aria-labelledby="inputModalLabel" aria-hidden="true">
    <div id="modal-dialog" class="modal-dialog" role="document">
        <div id="modal-content" class="modal-content">
             
            <div class="modal-header">
                <h3 class="text-center text-warning">Create New Audio</h3>
                <a href="" class="closeModal" data-bs-dismiss="modal" aria-label="Close">
                    <i class="bi bi-x"></i>
                </a>
            </div>
        </div>
    </div>
</div>
